body{
	margin-left: 20%;
	margin-right: 20%;
	font-family:sans-serif;
}
.banner{
	box-sizing:border-box;
	padding:25px;
	background-color:#3F48CC;
	color:white;
	padding-left:5%;
	font-weight:bold;
}
.menu{
	box-sizing:border-box;
	background-color:#3F48CC;
	padding:3px;
	color:white;
	font-weight:bold;
	margin-top:15px;
	text-align: center;
}
.menu a:link {color:white;text-decoration: none;}     
.menu a:visited {color:white;text-decoration: none;} 
.menu a:hover {color:white;text-decoration: none;}  
.menu a:active {color:white;text-decoration: none;}
