body{
		margin-left: 20%;
		margin-right: 20%;
	}
.banner{
	box-sizing:border-box;
	padding:20px;
	background-color:#3F48CC;
	color:white;
	font-family:sans-serif;;
	padding-left:5%;
	font-weight:bold;
}
.menu{
	box-sizing:border-box;
	background-color:#3F48CC;
	padding:3px;
	color:white;
	font-family:sans-serif;
	font-weight:bold;
	margin-top:15px;
	text-align: center;
}
.menu:link {color:white;}     
.menu:visited {color:white;} 
.menu:hover {color:white;}  
.menu:active {color:white;}
