body{
	margin-left: 20%;
	margin-right: 20%;
	font-family:sans-serif;
}
.banner{
	box-sizing:border-box;
	padding:25px;
	background-color:#3F48CC;
	color:white;
	padding-left:5%;
	font-weight:bold;
	box-shadow: 5px 5px 5px 5px #888;
}
.menu{
	box-sizing:border-box;
	background-color:#3F48CC;
	padding:3px;
	color:white;
	font-weight:bold;
	margin-top:15px;
	text-align: center;
	box-shadow: 10px 10px 5px #888;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

a:link {color:white;}
a:visited {color:white;}
a:hover {color:white;}
a:active {color:white;}

.topic-table a, .subject-table a {
    color: black;
}

table {
    border-collapse:collapse;
    width:100%;
    margin-top:35px;
}

table,td,th {
    border:1px solid #3f48cc;
    text-align: left;
}

th {
    background-color:#3f48cc;
    color:white;
    padding: 10px 5px;
}

td {
    padding: 5px;
}

label {
    display: block;
}

input {
    margin: 5px 0;
}

form {
    background-color:#3f48cc;
    color:white;
    margin-top: 15px;
    padding: 10px;
}
